.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  canvas,
  img {
    width: 400px !important;
    height: 255px;
    border: 1px solid black;
  }
  .container-result {
    display: flex;
    flex-direction: column;
  }
  .image-container {
    display: flex;
    flex-direction: row;

    .image {
      display: flex;
      flex-direction: column;
    }
  }
}

.buttons-alignment {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
