<canvas style="border: solid 1px" #canv></canvas>
<app-image-uploder [multiple]="true"  ></app-image-uploder>

<br>width{{width}}
<input step="1" [(ngModel)]="width" min="0" max="500" type="range" />
<br>height{{height}}
<input step="1" [(ngModel)]="height" min="0" max="500" type="range" />
<br>dx{{dx}}
<input step="1" [(ngModel)]="dx" min="0" max="500" type="range" />
<br>dy{{dy}}
<input step="1" [(ngModel)]="dy" min="0" max="500" type="range" />
<br>dw{{dw}}
<input step="1" [(ngModel)]="dw" min="0" max="500" type="range" />
<br>dh{{dh}}
<input step="1" [(ngModel)]="dh" min="0" max="500" type="range" />
